table {
  border-collapse: collapse;
  empty-cells: show;
}

td {
  position: relative;
}

tr.group-row td:not(:first-child):before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
  z-index: -1;
}

tdbutton {
  background: white;
}

tr.strikeout td:after {
  content: "\00B7";
  font-size: 1px;
}

/* Extra styling */
td {
  width: 100px;
}
th {
  text-align: left;
}
